/* ==========================================================================
   Header Styles
   ========================================================================== */

header {
	display: flex;
	background: url(../images/header-image.jpg) top left/cover no-repeat;
	height: 300px;

	@include breakpoint($phone-up) {
		height: 200px;
		align-items: center;
	}
}

.header__title {
	color: $white;
	font: $heavy 4em $Raleway;
	letter-spacing: 15px;
	padding: 0;

	@include breakpoint($phone-up) {
		font-size: 2em;
	}

	@include breakpoint($phone-down) {
		font-size: 2em;
	}
}

.header__description {
	color: $white; 
	padding: 0;

	@extend .description;

}

/* Individual Header
   ========================================================================== */

.header--individual {
	height: 200px;

}

.header__title--individual {

	@extend .header__title;

	@include breakpoint($phone-up) {
		font-size: 1.2em;
		line-height: 1.7em;
	}

	@include breakpoint($phone-down) {
		font-size: 1em;
		line-height: 1.7em;
	}	
}