/* ==========================================================================
   Overview Style
   ========================================================================== */

.overview__text {
	padding-left: 0px;
	padding-right: 0px;

	@include breakpoint($tablet-down) {
		margin: 40px 0px;
	}
}

.overview__image {
	@include breakpoint($tablet-down) {
		display: flex;
		justify-content: center;
	}

	> img {
		max-width: 100%;
		display: flex;
	}
}
