/* ==========================================================================
   Featured List Style
   ========================================================================== */

.featured__content {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	flex-flow: row wrap;

	@include breakpoint($xl) {
		margin-top: 70px;
	}
}


 .featured__text {
 	margin-top: 40px;
 	flex: 1;
 	padding-right: 30px;

  	@include breakpoint($desktop-down) {
		flex: inherit;

	}
 }


 .featured-gallery {
 	display: flex;
    flex: 1;
    flex-flow: row wrap;
    padding-top: 30px;

 	@include breakpoint($tablet-down) {
		justify-content: center;

	}
 }


 .featured__pic {
 	padding-right: 10px;
	max-width: 100%;

 	@include breakpoint($tablet-down) {
		margin-bottom: 10px;
		margin-top: 30px;

	}

 	@include breakpoint($md-lg-breakpoint) {
		margin-bottom: 10px;

	}
 }

/* ==========================================================================
   Featured Grid
   ========================================================================== */

.grid-wrapper {
	margin-top: 40px;
}

 .flex-row {
 	display: flex;
    flex-wrap: wrap;
 }

 .featured__photo {
 	display: flex;
 	flex: 1 1 0;
 	position: relative;

 	> .featured__title {
 		position: absolute;
	    border: 1px solid white;
	    padding: 15px 45px;
	    bottom: 0;
	    right: 0;
	    background-color: $white;
	    font: $regular 1em $Raleway;
 	}
 	
 	> img {
 		flex: .95;
 		margin-bottom: 20px;
 		object-fit: cover;
 	}
 }
