/* ==========================================================================
   Global Styles
   ========================================================================== */

.description {
	font: $light 1em $Roboto; 
	line-height: 1.7em;
}


.g-section__title {
	font: $regular 1.2em $Raleway;
	color: $black;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-bottom: 20px;
}


.g-section__title--centered {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.7em;

	@extend .g-section__title;
}


.g-section__description {
	color: $gray;
	margin-bottom: 30px;

	@extend .description;
}


.g-statistics--horizontal {
	display: flex;
	justify-content: space-between;
	max-width: 90%;

	> ul {
		text-align: center;
	}
}

.g-statistics--vertical {
	flex: 1;
	text-align: center;

	@include breakpoint($tablet-down-special) {
		margin: 40px 0px;
	}

}


.g-statistics__title {
	font: italic .9em $Raleway;
	color: $light-gray;
	letter-spacing: 2px;
}


.g-statistics__number {
	font: $bold 2.5em $Raleway;
	margin-top: 10px;

	margin-bottom: 20px;
}


.g-green-cta {
	font: $bold 1em $Raleway;
	margin-top: 30px;

	> a {
	  margin: auto;
	  padding: 1rem 1rem;
	  text-decoration: none;
	  color: $green;
	  position: relative;
	  transition: all .3s cubic-bezier(.2, 0, 0, 1);
	  z-index: 1;
	  
	  &:after {
	    content: '';
	    height: 1px;
	    position: absolute;
	    bottom: 0;
	    right: 1.25rem;
	    left: 1.25rem;
	    background-color: $green;
	    transition: all .3s cubic-bezier(.2, 0, 0, 1);
	    transform-origin: bottom center;
	    z-index: -1;
	  }
	  
	  &:hover {
	    color: $white;
	    
	    &:after {
	      right: 0;
	      left: 0;
	      height: 100%;
	    }
	  }
	}

	@include breakpoint($desktop-down) {
		text-align: center;
	}
}





