/* ==========================================================================
   Layout
   ========================================================================== */


/* Breadcrumbs
   ========================================================================== */

.l-breadcrumbs {
	margin: 20px 0px;
}


/* Overview
   ========================================================================== */

.l-overview {
	margin: 20px 0px;
}


/* Featured
   ========================================================================== */
.l-featured {
	margin: 70px 0px;
}

/* Footer
   ========================================================================== */


