/* ==========================================================================
   Layout
   ========================================================================== */


/* Breadcrumbs
   ========================================================================== */

.l-breadcrumbs {
	margin: 20px 0px;
}


/* Overview
   ========================================================================== */

.l-overview {
	margin-top: 20px;
   padding-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
}


/* Featured
   ========================================================================== */

.l-featured {
	margin: 70px 0px;
   padding-bottom: 70px;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

/* Footer
   ========================================================================== */


