
/*--- Fonts ---*/ 

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800|Roboto:300,300i');

$italize: 300i;
$light: 300;
$regular: 400;
$bold: 600;
$heavy: 800;

$Raleway: 'Raleway';
$Roboto: 'Roboto';

/*--- Color Schemes ---*/

$black: #1f1f1f;
$white: #FFFFFF;
$green: #3FB96E;
$gray: #737373;
$light-gray: #959595;
$divider-bg: #FCFCFC;
$gray-type: #B9B9B9;
$gray-border: #D2D2D2;

